<!DOCTYPE html>
<html>
  <head>
    <title>Parameter Submission Success</title>
  </head>
  <body>
    <h1>Parameter Submission Success</h1>
    <h2>Your Selections</h2>
    <p><strong>User ID:</strong> {{ user_id }}</p>
    <p><strong>Model Name:</strong> {{ model_name }}</p>
    <p><strong>Question Types:</strong> {{ question_types }}</p>
    <p><strong>SOLO Levels:</strong> {{ solo_taxonomy }}</p>
    <p><strong>Number of Questions:</strong> {{ number_of_questions }}</p>
    <p><strong>Topic:Para Dict:</strong> {{ topic_para_dict }}</p>
  </body>
</html>
